html
  head
    title home
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    link(href='stylesheets/ss.css', rel='stylesheet')
    script(src='javascripts/ls.js')
    script(src='javascripts/edit.js')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css')
    script(type='text/javascript', src=' https://code.jquery.com/jquery-3.3.1.js')
    script(type='text/javascript', src=' https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(type='text/javascript', src=' https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js')
    script(type='text/javascript', src=' https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js')
    script(type='text/javascript', src=' https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
    script(type='text/javascript', src=' https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
    script(type='text/javascript', src=' https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
    script(type='text/javascript', src=' https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js')
    script(type='text/javascript', src=' https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js')
  body
    .container
      ul.nav.nav-pills
        li
          a.active(data-toggle='pill', href='#form') Form
        li
          a(data-toggle='pill', href='#list') List
      .tab-content
        #form.tab-pane.fade.in.active
          .container
            .row
              .col-md-6.col-md-offset-3
                h1(style='margin-left:150px')
                  i Contact Information
                form(action='/regform', method='post',enctype="multipart/form-data", style='margin-top:50px')
                  .form-group
                    label.control-group.col-md-3 Uploadimage:
                    .input-group.col-md-7
                      input.form-control(type='file', name='image', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br  
                  .form-group
                    label.control-group.col-md-3 Name:
                    .input-group.col-md-7
                      input.form-control(type='text', name='name', placeholder='enter your name', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br
                  .form-group
                    label.control-group.col-md-3 Email:
                    .input-group.col-md-7
                      input.form-control(type='email', name='email', placeholder='enter your email', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br
                  .form-group
                    label.control-group.col-md-3 rollno:
                    .input-group.col-md-7
                      input.form-control(type='tel', name='rollno', placeholder='enter your     rollnumber', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br
                  label(style='margin-left:15px') Gender:
                  input(type='radio', name='gender', value='m', style='margin-left:60px;font-size:20px')
                  |     male   
                  input(type='radio', name='gender', value='f')
                  | female
                  br
                  br
                  label(style='margin-left:15px') College:
                  select(name='college', style='margin-left:60px')
                    option
                    option(value='ACE') ACE
                    option(value='AEC') AEC
                    option(value='ACEt') ACET
                    option(value='others') others
                  br
                  br
                  label(style='margin-left:15px') Branch:
                  select(name='branch', style='margin-left:60px')
                    option
                    option(value='ECE') ECE
                    option(value='EEE') EEE
                    option(value='CSE') CSE
                    option(value='others') others
                  br
                  br
                  .form-group
                    label.control-group.col-md-3 Address:
                    .input-group.col-md-7
                      textarea.form-control(name='address', placeholder='enter your address', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br
                  .form-group
                    label.control-group.col-md-3 Phoneno:
                    .input-group.col-md-7
                      input.form-control(type='tel', name='mobileno', placeholder='enter your number', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br
                  input.sub(type='submit', style='margin-left:250px')
        #list.tab-pane.fade
          table#example.table.table-bordered.table-striped.table-hover
            thead
              tr
                th  name
                th email
                th rollno
                th gender
                th clz
                th branch
                th address
                th phoneno
                th action
            tbody
              each member in data
                tr 
                  td #{member.name}
                  td #{member.email}
                  td #{member.rollno}
                  td #{member.gender}
                  td #{member.college}
                  td #{member.branch}
                  td #{member.address}
                  td #{member.mobileno}
                  td
                    //- button(style="margin-right:5px").btn.btn-info Edit 
                    //- botton.btn.btn-danger.remove Remove
                    button(value=member.rollno).btn.btn-info.edit Edit 
                    button(value=member.rollno).btn.btn-warning.delete remove
          .dontshow
            .container
            .row
              .col-md-6.col-md-offset-3
                h1(style='margin-left:150px')
                  i Contact Information
                form(action='/update', method='post', style='margin-top:50px')
                  .form-group
                    label.control-group.col-md-3 Name:
                    .input-group.col-md-7
                      input#name.form-control(type='text', name='name', placeholder='enter your name', style='text-align:center;margin-left:20px;border-radius:10px')
                      br
                      br
                  .form-group
                    label.control-group.col-md-3 Email:
                    .input-group.col-md-7
                      input.form-control(type='email', name='email', placeholder='enter your email', style='text-align:center;margin-left:20px;border-radius:10px')#email
                      br
                      br
                  .form-group
                    label.control-group.col-md-3 rollno:
                    .input-group.col-md-7
                      input.form-control(type='tel', name='rollno', placeholder='enter your     rollnumber', style='text-align:center;margin-left:20px;border-radius:10px')#rollno
                      br
                      br
                  label(style='margin-left:15px') Gender:
                  input(type='radio', name='gender', value='m', style='margin-left:60px;font-size:20px')
                  |     male   
                  input#m(type='radio', name='gender', value='f')
                  | female
                  br
                  br
                  label(style='margin-left:15px') College:
                  select(name='college', style='margin-left:60px')#college
                    option
                    option(value='ACE') ACE
                    option(value='AEC') AEC
                    option(value='ACEt') ACET
                    option(value='others') others
                  br
                  br
                  label(style='margin-left:15px') Branch:
                  select(name='branch', style='margin-left:60px')#branch
                    option
                    option(value='ECE') ECE
                    option(value='EEE') EEE
                    option(value='CSE') CSE
                    option(value='others') others
                  br
                  br
                  .form-group
                    label.control-group.col-md-3 Address:
                    .input-group.col-md-7
                      textarea.form-control(name='address', placeholder='enter your address', style='text-align:center;margin-left:20px;border-radius:10px')#address
                      br
                      br
                  .form-group
                    label.control-group.col-md-3 Phoneno:
                    .input-group.col-md-7
                      input.form-control(type='tel', name='mobileno', placeholder='enter your number', style='text-align:center;margin-left:20px;border-radius:10px')#phoneno
                      br
                      br
                  input.sub(type='submit',value="update" style='margin-left:250px')